        TUPLE CREATION

In [7]:
tup1 = () # empty tuple 
tup1

()

In [8]:
type(tup1)

tuple

In [9]:
tup2 = (10, 20, 30) #tupe of integer
tup2

(10, 20, 30)

In [10]:
tup3 = (1.5, 10.3, 7.1) #tuple of float
tup3

(1.5, 10.3, 7.1)

In [12]:
tup4 = ("python", "one", "two") #Tuple of string
tup4

('python', 'one', 'two')

In [13]:
#Nested tuples:- tuple inside a tuple

In [15]:
tup5 = (1, 3, (5, 6), 7, 8, (10, 20))
tup5

(1, 3, (5, 6), 7, 8, (10, 20))

In [16]:
len(tup5) #length of list

6

In [18]:
tup6 = (10, 7.3, 1+3j, 'python', True) # mixing datatype in tuple
tup6

(10, 7.3, (1+3j), 'python', True)

TUPLE INDEXING

In [19]:
tup2

(10, 20, 30)

In [22]:
tup2[1]

20

In [24]:
tup2[-1]

30

In [25]:
tup4

('python', 'one', 'two')

In [27]:
tup4[0] #Retrieve fist element of the tuple

'python'

In [28]:
tup4[0][0] #nested indexing:- Access the first character of fist tuple element

'p'

In [29]:
tup4[0][1]

'y'

In [30]:
tup4[-1]

'two'

In [31]:
tup5

(1, 3, (5, 6), 7, 8, (10, 20))

In [32]:
tup5[-1]

(10, 20)

    TUPLE SLICING

In [34]:
my_tuple= ('one', 'two', 'three', 'four', 'five')
my_tuple

('one', 'two', 'three', 'four', 'five')

In [35]:
my_tuple[0:3] #return all item from 0th index to 3rd index excluding 3rd index

('one', 'two', 'three')

In [38]:
my_tuple[2:5] #return all item from 2nd index till 5th index excluding 5th index

('three', 'four', 'five')

In [39]:
my_tuple[:4] # bydefault it always start from oth index and return fist 4 items

('one', 'two', 'three', 'four')

In [40]:
my_tuple[3:] # it will start from 3rd index till end

('four', 'five')

In [41]:
my_tuple[:-3]

('one', 'two')

In [42]:
my_tuple[-3:]  # return last three items

('three', 'four', 'five')

In [43]:
my_tuple[:]

('one', 'two', 'three', 'four', 'five')

        REMOVE AND CHANGE ITEMS

In [45]:
my_tuple

('one', 'two', 'three', 'four', 'five')

In [48]:
my_tuple.append('six', 'seven')  #tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
del my_tuple #delete entire tuple is possible

In [51]:
my_tuple

NameError: name 'my_tuple' is not defined

        LOOP THROUGH A TUPPLE

In [52]:
my_tuple

NameError: name 'my_tuple' is not defined

In [54]:
my_tuple= ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
my_tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [56]:
for i in my_tuple:
    print(i)

one
two
three
four
five
six
seven
eight

    TUPLE MEMBERSHIP

In [57]:
my_tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [58]:
'one' in my_tuple #check if one exist in the list

True

In [59]:
'nine' in my_tuple

False

In [62]:
if 'three' in my_tuple:   #check if three exist in the list
    print("Three is present in the tuple")
else:
    print("Three is not present in the tuple")

Three is present in the tuple

    INDEX POSITION

In [63]:
my_tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [65]:
my_tuple.index('three')

2

In [66]:
my_tuple.index('seven')

6

In [67]:
my_tuple.index('one')

0